
@{
    Layout = null;
}


<h1>Selamün Aleyküm</h1>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>KAtegori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim kategorisi</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>Spor kategorisi</td>
        <td>true</td>
    </tr>
</table>